{% extends "base.html" %}
{% block title %} Add Student {% endblock %}
{% block content %}
<header>
    <h2 id="pageTitle">Admin Dashboard</h2>
    <div class="controls">
        <input id="search" placeholder="🔍 Search..." style="min-width:200px">
        <span class="small">💾 Request</span>
    </div>
</header>
<h2>New Student Form</h2>
<div class="grid" style="display:grid;">
    <form action="{{url_for('crud.add_student')}}" , method="POST">
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" id="name" name="name" placeholder="Enter student name" required>
        </div><br>

        <div id="student-fields" class="student-fields">
            <div class="form-group">
                <label for="rollno">Roll Number</label>
                <input type="text" id="rollno" name="roll_no" placeholder="Enter student roll number" required>
            </div>


        </div><br>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="Enter student email" required>
        </div><br>

        <div class="form-group">
            <label for="psw">Password</label>
            <input type="password" id="psw" name="password" placeholder="Create a password" required>
        </div><br>


        <button type="submit" class="btn btn-primary">✓ Add Student</button>


    </form>
</div>


{% endblock %}