{% extends "base.html" %}
{% block title %} Add Teacher {% endblock %}
{% block content %}
<header>
    <h2 id="pageTitle">Admin Dashboard</h2>
    <div class="controls">
        <input id="search" placeholder="🔍 Search..." style="min-width:200px">
        <span class="small">💾 Request</span>
    </div>
</header>
<h2>New Teacher Form</h2><br>
<div class="card" >
    <form action="{{url_for('crud.add_teacher')}}" , method="POST" >
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" id="name" name="name" placeholder="Enter teacher name" required>
        </div><br>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="Enter teacher email" required>
        </div><br>

        <div class="form-group">
            <label for="contact">Contact</label>
            <input type="text" id="contact" name="contact" placeholder="Enter teacher contact" required>
        </div><br>

        <div class="form-group">
            <label for="psw">Password</label>
            <input type="password" id="psw" name="password" placeholder="Create a password" required>
        </div><br>


        <button type="submit" class="btn btn-primary">✓ Add Teacher</button>


    </form>
</div>


{% endblock %}